<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001571054325-rbmfuoiaai20auhgjdcso6dd3555q5uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001571054325-rbmfuoiaai20auhgjdcso6dd3555q5uh</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Jh2ONgoNwq7NzXiKEh9pqYhBOJw0Qzk</string>
	<key>GCM_SENDER_ID</key>
	<string>1001571054325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.addindev.watsap</string>
	<key>PROJECT_ID</key>
	<string>watsap-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>watsap-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001571054325:ios:4810ac84bacff4b76c4bbc</string>
	<key>DATABASE_URL</key>
	<string>https://watsap-ios.firebaseio.com</string>
</dict>
</plist>